* {
	font-family: 'Hack Nerd Font';
}

.module {
	background-color: @theme_base_color;
	padding: 0 10px;
	border-radius: 7px;
	color: @theme_text_color;
}

box.horizontal:dir(ltr) {
	padding: 1 5px;
}

window#waybar {
	background: @theme_bg_color;
}

/* left-modules */
#tags {
	padding: 0 0px;
}

#tags button {
	padding: 0 0px;
	background-color: transparent;
	min-height: 10px;
}

#tags button.focused {
	/*lightens the text color by 60%*/
	color: shade(@theme_text_color, 1.6);
}

#tags button:not(.occupied):not(.focused) {
	font-size: 0;
	min-width: 0;
	min-height: 0;
	margin: 0px;
	padding: 0;
	border: 0;
	opacity: 0;
	box-shadow: none;
	background-color: transparent;
}

/* right modules */
#system-options {
	padding: 0;
}





